<% provide(:title, "ヘルプ") %>
  <div class="center jumbotrom">
  <h2>基本的な操作</h2>
  サインアップまたはサインイン後，上のメニューバーより掲示板作成が可能となります．<br>
  作成後，各スレッドへアクセスし，会話をすることができます．<br>
  <h2>できること</h2>
  一般ユーザーは掲示板の作成，発言，返信，ユーザーの退会，編集が行えます．<br>
  また，全ユーザーの情報を見ることができます．<br>
  管理者ユーザーは上の機能に加え，掲示板の編集，削除，発言の削除，ユーザーの削除が行えます．<br>
  </div>
</p>
